<div class="container mt-1">
  <div *ngIf="(this.basket$ | async) === null">
    There is no item in the basket
  </div>
  <div *ngIf="this.basket$ | async">
    <div class="pb-1">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
           <app-basket-summary
           (decrement)="decrementItemQuantity($event)"
           (increment)="incrementItemQuantity($event)"
           (remove)="removeBaketItem($event)"
           ></app-basket-summary>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
            Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
