.cart-no{
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    font-size: 1em;
    background: #a2a0a0;
    color: white;
    text-align: center;
    top:-5px;
    left: 33px;
}